In [182]:
import pandas as pd

In [183]:
df = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")
df

    Index   Age      Salary  Rating       Location  Established EasyApply
0       0  44.0   $44k-$99k     5.4       India,In         1999      TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002      TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1        -1
3       3  64.0   $44k-$99k     4.4       India In         1988        -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002        -1
5       5  44.0   $77k-$89k     1.4       India,In         1999      TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1        -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1        -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1        -1
9       9  22.0   $44k-$99k     7.7       India,In           -1      TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008      TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009        -1
12     12   NaN   $44k-$99k     0.0       India,In         1999        -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019      TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020      TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999        -1
16     16  19.0   $19k-$40k     4.5       India,In         1984        -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943      TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954      TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955      TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944      TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946        -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988      TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999      TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987        -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980      TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934      TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935        -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932        -1

In [184]:
df.shape

(29, 7)

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   EasyApply    29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

Question 1: Missing values : Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [186]:
df.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
EasyApply      0
dtype: int64

In [187]:
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)
df['Age']

0     44.0
1     66.0
2     39.5
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.5
13    25.0
14    66.0
15    44.0
16    19.0
17    39.5
18    35.0
19    32.0
20    39.5
21    35.0
22    19.0
23    39.5
24    13.0
25    55.0
26    39.5
27    52.0
28    39.5
Name: Age, dtype: float64

In [188]:
mode_rating = df['Rating'].mode()[0]
df['Rating'].fillna(mode_rating, inplace=True)
df['Rating']

0     5.4
1     3.5
2    -1.0
3     4.4
4     6.4
5     1.4
6     0.0
7    -1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13   -1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24   -1.0
25    0.0
26   -1.0
27    5.4
28    3.4
Name: Rating, dtype: float64

In [189]:

df.isnull().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
EasyApply      0
dtype: int64

In [137]:

df

    Index   Age      Salary  Rating       Location  Established EasyApply
0       0  44.0   $44k-$99k     5.4       India,In         1999      TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002      TRUE
2       2  39.5   $77k-$89k    -1.0    New York,Ny           -1        -1
3       3  64.0   $44k-$99k     4.4       India In         1988        -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002        -1
5       5  44.0   $77k-$89k     1.4       India,In         1999      TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1        -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1        -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1        -1
9       9  22.0   $44k-$99k     7.7       India,In           -1      TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008      TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009        -1
12     12  39.5   $44k-$99k     0.0       India,In         1999        -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019      TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020      TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999        -1
16     16  19.0   $19k-$40k     4.5       India,In         1984        -1
17     17  39.5   $44k-$99k     5.3    New York,Ny         1943      TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954      TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955      TRUE
20     20  39.5   $44k-$99k     5.7    New York,Ny         1944      TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946        -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988      TRUE
23     23  39.5   $44k-$99k     2.4    New York,Ny         1999      TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987        -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980      TRUE
26     26  39.5   $55k-$66k    -1.0       India,In         1934      TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935        -1
28     28  39.5   $39k-$88k     3.4  Australia Aus         1932        -1

Question 2: Data types : What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [138]:
df.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'EasyApply'],
      dtype='object')

In [190]:
df.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
EasyApply       object
dtype: object

Question 3: Outliers: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

In [140]:
numerical_columns = ['Age', 'Salary', 'Rating']

In [141]:
Q1 = df[numerical_columns].quantile(0.25)
Q3 = df[numerical_columns].quantile(0.75)
IQR = Q3 - Q1

<ipython-input-141-3631a9316b81>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df[numerical_columns].quantile(0.25)
<ipython-input-141-3631a9316b81>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = df[numerical_columns].quantile(0.75)

In [142]:
outlier_threshold = 1.5

In [143]:

potential_outliers = ((df[numerical_columns] < (Q1 - outlier_threshold * IQR)) | (df[numerical_columns] > (Q3 + outlier_threshold * IQR)))

<ipython-input-143-61bb77ff103a>:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  potential_outliers = ((df[numerical_columns] < (Q1 - outlier_threshold * IQR)) | (df[numerical_columns] > (Q3 + outlier_threshold * IQR)))
<ipython-input-143-61bb77ff103a>:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  potential_outliers = ((df[numerical_columns] < (Q1 - outlier_threshold * IQR)) | (df[numerical_columns] > (Q3 + outlier_threshold * IQR)))

In [144]:
print("Rows with potential outliers:")
print(df[potential_outliers.any(axis=1)])

Rows with potential outliers:
    Index   Age     Salary  Rating       Location  Established EasyApply
1       1  66.0  $55k-$66k     3.5    New York,Ny         2002      TRUE
3       3  64.0  $44k-$99k     4.4       India In         1988        -1
14     14  66.0  $44k-$99k     4.0  Australia Aus         2020      TRUE
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987        -1

Question 4: salary formatting : Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [145]:
df['Salary'] = df['Salary'].str.replace('$',' ')
df['Salary'] = df['Salary'].str.replace('k', '000')
data['Salary'] = df['Salary']

<ipython-input-145-a2ecd9de659b>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$',' ')

In [146]:
data['Salary']

0       44000- 99000
1       55000- 66000
2       77000- 89000
3       44000- 99000
4       44000- 99000
5       77000- 89000
6       44000- 99000
7       44000- 99000
8       44000- 99000
9       44000- 99000
10      10000- 49000
11      10000- 49000
12      44000- 99000
13      44000- 99000
14      44000- 99000
15     88000- 101000
16      19000- 40000
17      44000- 99000
18      44000- 99000
19      44000- 99000
20      44000- 99000
21      44000- 99000
22      55000- 66000
23      44000- 99000
24      44000- 99000
25      44000- 99000
26      55000- 66000
27      44000- 99000
28      39000- 88000
Name: Salary, dtype: object

Question 5: Location Standardization:  Check the consistency of location entries. Do they need standardization, and how can this be achieved?

In [147]:
df['Location'].unique()

array(['India,In', 'New York,Ny', 'India In', 'Australia Aus'],
      dtype=object)

In [148]:
data['Location'] = df['Location'].replace({'India,In':'India',
                                          'New York,Ny':'New York',
                                          'India In':'India',
                                          'Australia Aus':'Australia'})

In [149]:
data['Location']

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object

Question 6: Established Column: Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

In [150]:
data['Established'] = df.Established.replace({-1: False})
data['Established']

0      1999
1      2002
2     False
3      1988
4      2002
5      1999
6     False
7     False
8     False
9     False
10     2008
11     2009
12     1999
13     2019
14     2020
15     1999
16     1984
17     1943
18     1954
19     1955
20     1944
21     1946
22     1988
23     1999
24     1987
25     1980
26     1934
27     1935
28     1932
Name: Established, dtype: object

Question 7: Easy Apply indicator: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?

In [151]:
df.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'EasyApply'],
      dtype='object')

In [153]:
data['Easy_Apply'] = df.EasyApply.replace({'-1': False})
data['Easy_Apply']

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: EasyApply, dtype: object

Question 8: Rating Range:Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [156]:
rating_stats=df.Rating.describe()

In [157]:
unique_ratings = df['Rating'].unique()

In [158]:
print("Descriptive Statistics for 'Rating' column:")
print(rating_stats)

print("\nUnique Values in 'Rating' column:")
print(unique_ratings)

Descriptive Statistics for 'Rating' column:
count    29.000000
mean      3.372414
std       2.898879
min      -1.000000
25%       0.000000
50%       4.000000
75%       5.400000
max       7.800000
Name: Rating, dtype: float64

Unique Values in 'Rating' column:
[ 5.4  3.5 -1.   4.4  6.4  1.4  0.   7.7  6.7  4.   3.   4.5  5.3  3.3
  5.7  5.   7.8  2.4  3.4]

Question 9: Age Distribution:Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [159]:
df['Age']

0     44.0
1     66.0
2     39.5
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.5
13    25.0
14    66.0
15    44.0
16    19.0
17    39.5
18    35.0
19    32.0
20    39.5
21    35.0
22    19.0
23    39.5
24    13.0
25    55.0
26    39.5
27    52.0
28    39.5
Name: Age, dtype: float64

In [160]:
age_stats = df['Age'].describe()
unique_ages = df['Age'].unique()

In [161]:

print("Descriptive Statistics for 'Age' column:")
print(age_stats)

print("\nUnique Values in 'Age' column:")
print(unique_ages)

Descriptive Statistics for 'Age' column:
count    29.000000
mean     39.155172
std      13.974533
min      13.000000
25%      32.000000
50%      39.500000
75%      44.000000
max      66.000000
Name: Age, dtype: float64

Unique Values in 'Age' column:
[44.  66.  39.5 64.  25.  21.  35.  22.  55.  19.  32.  13.  52. ]

Question 10: Handling special characters:Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

In [162]:
df.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
EasyApply       object
dtype: object

In [165]:
text_columns = ['Location', 'Established', 'EasyApply']
for column in text_columns:
    unique_values = df[column].unique()
    print(f"\nUnique Values in '{column}' column:")
    print(unique_values)
    for value in unique_values:
        if isinstance(value, str):
            # Check if the value contains any special characters
            if any(char.isalnum() or char.isspace() for char in value):
                print(f"Special characters found in '{column}': {value}")

Unique Values in 'Location' column:
['India,In' 'New York,Ny' 'India In' 'Australia Aus']
Special characters found in 'Location': India,In
Special characters found in 'Location': New York,Ny
Special characters found in 'Location': India In
Special characters found in 'Location': Australia Aus

Unique Values in 'Established' column:
[1999 2002   -1 1988 2008 2009 2019 2020 1984 1943 1954 1955 1944 1946
 1987 1980 1934 1935 1932]

Unique Values in 'EasyApply' column:
['TRUE' '-1']
Special characters found in 'EasyApply': TRUE
Special characters found in 'EasyApply': -1

Question 11: Data integrity:Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [170]:
established_age_mismatch = df[df['Established'] != df['Age']]
print("Rows where 'Established' does not align with 'Age':")
print(established_age_mismatch)

Rows where 'Established' does not align with 'Age':
  Established  Age
0        2000   23
1        1999   28
2        2009   13

Question 12: Easy Apply Transformation: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

In [197]:
df = {'EasyApply': ['True', 'False', 'No Info', 'Yes', 'No']}
data = pd.DataFrame(df)

In [198]:
boolean_mapping = {'True': True, 'False': False, 'No Info': None, 'Yes': True, 'No': False}

In [199]:
data['EasyApply'] = data['EasyApply'].map(boolean_mapping)

In [200]:
data

  EasyApply
0      True
1     False
2      None
3      True
4     False

Question 13: Location Accuracy:Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [202]:
from difflib import get_close_matches

In [204]:
df = {'Location': ['New York', 'India', 'Australia']}
data = pd.DataFrame(df)

In [205]:
unique_locations = data['Location'].unique()
print("Unique Locations:")
print(unique_locations)

Unique Locations:
['New York' 'India' 'Australia']

In [206]:
def find_close_matches(location, all_locations):
    close_matches = get_close_matches(location, all_locations, n=1, cutoff=0.8)
    return close_matches[0] if close_matches else None

In [207]:
all_locations = unique_locations.tolist()
data['Corrected_Location'] = data['Location'].apply(lambda x: find_close_matches(x, all_locations))

In [208]:
print("\nDataFrame with Potential Corrections:")
print(data[['Location', 'Corrected_Location']])

DataFrame with Potential Corrections:
    Location Corrected_Location
0   New York           New York
1      India              India
2  Australia          Australia

Question 14: Handling Categorical Data:For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

In [209]:
df = {'Category': ['Index', 'Age', 'Salary', 'Established', 'Rating', 'Location', 'Easy apply'],
        'Status': ['Active', 'active', 'Active', 'Active', 'active', 'Active', 'Active']}
data = pd.DataFrame(df)

In [210]:
one_hot = pd.get_dummies(data, columns=['Category', 'Status'], prefix=['Cat', 'Stat'])

In [211]:
label = data.copy()
for column in label.columns:
    label[column] = label[column].astype('category').cat.codes

In [212]:
print("Original DataFrame:")
print(data)

Original DataFrame:
      Category  Status
0        Index  Active
1          Age  active
2       Salary  Active
3  Established  Active
4       Rating  active
5     Location  Active
6   Easy apply  Active

In [213]:
print("\nOne-Hot Encoded DataFrame:")
print(one_hot)

One-Hot Encoded DataFrame:
   Cat_Age  Cat_Easy apply  Cat_Established  Cat_Index  Cat_Location  \
0        0               0                0          1             0
1        1               0                0          0             0
2        0               0                0          0             0
3        0               0                1          0             0
4        0               0                0          0             0
5        0               0                0          0             1
6        0               1                0          0             0

   Cat_Rating  Cat_Salary  Stat_Active  Stat_active
0           0           0            1            0
1           0           0            0            1
2           0           1            1            0
3           0           0            1            0
4           1           0            0            1
5           0           0            1            0
6           0           0            1            0

In [214]:
print("\nLabel Encoded DataFrame:")
print(label)

Label Encoded DataFrame:
   Category  Status
0         3       0
1         0       1
2         6       0
3         2       0
4         5       1
5         4       0
6         1       0

Question 15: Consistent Rating Scale:Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [215]:
df = {'Rating': ['5.4', '3.5', '2.4', '1.0', '7.7']}
data = pd.DataFrame(df)

In [216]:
data['Rating'] = pd.to_numeric(data['Rating'], errors='coerce')

In [217]:
invalid_ratings = data[data['Rating'].isnull()]
if not invalid_ratings.empty:
    print("Invalid Ratings:")
    print(invalid_ratings)

In [218]:
data['Normalized_Rating'] = (data['Rating'] - data['Rating'].min()) / (data['Rating'].max() - data['Rating'].min())

In [219]:
print("\nDataFrame with Normalized Ratings:")
print(data[['Rating', 'Normalized_Rating']])

DataFrame with Normalized Ratings:
   Rating  Normalized_Rating
0     5.4           0.656716
1     3.5           0.373134
2     2.4           0.208955
3     1.0           0.000000
4     7.7           1.000000

In [220]:
data

   Rating  Normalized_Rating
0     5.4           0.656716
1     3.5           0.373134
2     2.4           0.208955
3     1.0           0.000000
4     7.7           1.000000